

// border colors
layout {

    border {
        on
        width 1.5
        urgent-color "#9b0000"
        active-gradient from="FF0000FF" to="00FF00FF" angle=45 relative-to="workspace-view" in="oklch"
        inactive-gradient from="#282450" to="#2B2757" angle=-45 relative-to="workspace-view"
    }
    shadow {
        on
        softness 5
        spread 1
        offset x=0 y=0
        color "#453C8Cf3"
        inactive-color "#28245099"
    }
}

